/*
colour schem for the site.
https://www.schemecolor.com/bright-german-color-palette.php*/
body{
	background-color: #81f1ff !important;
	margin: 0;	
	width: 100%;
}
.topbot col-sm-12{
	background-color: #333
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8fd0d6;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-decoration: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.andHere{
	position: relative;
	height: 50%;
	width: 100%;
	z-index: -1;
}
/*.head-img h2{
	position: absolute;
	left: 15%;
	top: 25%;

}
.text-img p{
	position: absolute;
	left: 5%;
	top: 35%;
}*/
.text-block {
  position: absolute;
  top: 200px;
  float: right;
  right: 20px;
  background-color: #8fd0d6;
  width: 50%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1200px) {
	.main{
		margin-top:35%;
	}
}
@media (max-width: 494px) {
	.main{
		margin-top:42%;
	}
}
